mixin header(property, values)
	.header
			.header-property= property
			.header-values
				each value in values
					.header-value= value
doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1024")
		meta(name="apple-mobile-web-app-capable" content="yes")

		title Flexbox Presentation by Ari Sunarya
		meta(name="description" content="Flexbox presentation")
		meta(name="author" content="Ari Sunarya")

		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/main.css")
	
	body(class="impress-not-supported")
		.fallback-message
			p
				| Your browser 
				b doesn't support the features required 
				| by impress.js, so you are presented with a simplified version of this presentation. 
			p 
				| For the best experience please use the latest  
				b Chrome, 
				b Safari 
				| or 
				b Firefox browser. 
		
		#impress
			.step(
				data-y='-2000'
				data-x='-1000'
				)
				h1 FLEXBOX
				div
					small by
					| : 
					strong Ari Sunarya
				div
					a(href="https://arisunarya.github.io/flexbox-presentation") https://arisunarya.github.io/flexbox-presentation/
			.step(
				data-y='-2000'
				data-x='0'
				)
				h2: center What is flexbox?
				.properties
					.properties-column
						h3.properties-title flex containers
						ul.properties-lists
							li flex-direction
							li flex-wrap
							li flex-flow
							li justify-content
							li align-content
							li align-items
					.properties-column
						h3.properties-title flex items
						ul.properties-lists
							li flex-basis
							li flex-shrink
							li flex-grow
							li flex
							li order
							li align-self
				
			.step.boxed(
				id="initialize"
				data-y='-2000'
				data-x='1000'
				)
				+header("initialize display", ["flex", "inline-flex"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row < default
							| }
					.display-flexbox
						.flex-container
							.flex-item
							.flex-item
			
			.step.boxed(
				id="flex-direction"
				data-y='-1200'
				data-x='1000'
				)
				+header("flex-direction", ["row", "row-reverse", "column", "column-reverse"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: <b>column</b>;
							| }
					.display-flexbox
						.flex-container(style="flex-direction: column")
							.flex-item
							.flex-item
							.flex-item
			
			.step(
				id="flex-direction-column-reverse"
				data-y='-600'
				data-x='1000'
				data-rotate-x="-40"
				)
				.display
					.display-flexbox
						.flex-container(style="flex-direction: column-reverse")
							.flex-item
							.flex-item
							.flex-item
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: <b>column-reverse</b>;
							| }
			.step.boxed(
				id="flex-wrap"
				data-y='600'
				data-x='900'
				data-rotate="90"
				data-scale="2"
				)
				+header("flex-wrap", ["nowrap", "wrap", "wrap-reverse"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row < default
							|   flex-wrap: nowrap < default
							| }
					.display-flexbox
						.flex-container
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
			
			.step(
				id="flex-wrap-wrap"
				data-y='600'
				data-x='-200'
				data-rotate="90"
				data-scale="2"
				)
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row < default
							|   flex-wrap: <b>wrap</b>;
							| }
					.display-flexbox
						.flex-container(style="flex-wrap: wrap")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
			.step(
				id="flex-wrap-reverse"
				data-y='600'
				data-x='-1150'
				data-rotate="90"
				data-scale="2"
				)
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row < default
							|   flex-wrap: <b>wrap-reverse</b>;
							| }
					.display-flexbox
						.flex-container(style="flex-wrap: wrap-reverse")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
			.step.boxed(
				id="flex-flow"
				data-y='-1200'
				data-x='-600'
				data-rotate="180"
				data-scale="2.5"
				)
				+header("flex-flow", ["[flex-direction]", "[flex-wrap]"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-flow: <b>column-reverse wrap-reverse</b>;
							| }
					.display-flexbox
						.flex-container(style="flex-flow: column-reverse wrap-reverse")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item

			.step.boxed(
				id="justify-content"
				data-y='-2370'
				data-x='-1700'
				data-rotate-x="-50"
				)
				+header("justify-content", ["flex-start", "flex-end", "center", "space-around", "space-between"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   justify-content: flex-start < default
							| }
					.display-flexbox
						.flex-container(style="justify-content: flex-start; flex-wrap:wrap")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item

			.step.boxed(
				id="justify-content-center"
				data-y='-2370'
				data-x='-800'
				data-rotate-x="-50"
				)
				div(style="height:152px")
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   justify-content: <b>center</b>;
							| }
					.display-flexbox
						.flex-container(style="justify-content: center; flex-wrap:wrap")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item

			.step.boxed(
				id="justify-content-end"
				data-y='-2370'
				data-x='100'
				data-rotate-x="-50"
				)
				div(style="height:152px")
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   justify-content: <b>flex-end</b>;
							| }
					.display-flexbox
						.flex-container(style="justify-content: flex-end; flex-wrap:wrap")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item

			.step.boxed(
				id="justify-content-around"
				data-y='-2800'
				data-x='100'
				data-z="100"
				)
				div(style="height:152px")
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   justify-content: <b>space-around</b>;
							| }
					.display-flexbox
						.flex-container(style="justify-content: space-around; flex-wrap:wrap")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item

			.step.boxed(
				id="justify-content-between"
				data-y='-2800'
				data-x='-800'
				data-z="100"
				)
				div(style="height:152px")
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   justify-content: <b>space-between</b>;
							| }
					.display-flexbox
						.flex-container(style="justify-content: space-between; flex-wrap:wrap")
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
							.flex-item
			
			.step.boxed(
				id="align-items"
				data-y='-1050'
				data-x='-2300'
				data-scale="2"
				data-rotate="90"
				)
				+header("align-items", ["flex-start", "flex-end", "center", "baseline", "stretch"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   align-items: <b>flex-start</b>;
							|   justify-content: center;
							| }
					.display-flexbox
						.flex-container(style="align-items: flex-start;justify-content: center; flex-wrap: wrap")
							.flex-item(style="height:110px")
							.flex-item(style="height:70px")
							.flex-item(style="height:90px")
			.step(
				id="align-items-center"
				data-y='300'
				data-x='-1900'
				data-rotate="90"
				)
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   align-items: <b>center</b>;
							|   justify-content: center;
							| }
					.display-flexbox
						.flex-container(style="align-items: center;justify-content: center; flex-wrap: wrap")
							.flex-item(style="height:110px")
							.flex-item(style="height:70px")
							.flex-item(style="height:90px")
			.step(
				id="align-items-end"
				data-y='300'
				data-x='-2400'
				data-rotate="90"
				)
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   align-items: <b>flex-end</b>;
							|   justify-content: center;
							| }
					.display-flexbox
						.flex-container(style="align-items: flex-end;justify-content: center; flex-wrap: wrap")
							.flex-item(style="height:110px")
							.flex-item(style="height:70px")
							.flex-item(style="height:90px")
			.step.boxed(
				id="align-content"
				data-y='1100'
				data-x='-2200'
				)
				+header("align-content", ["flex-start", "flex-end", "center", "space-around", "space-between", "stretch"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   align-items: center;
							|   align-content: <b>flex-end</b>;
							|   justify-content: center;
							| }
					.display-flexbox
						.flex-container(style="align-items: center;align-content:flex-end;justify-content: center; flex-wrap: wrap")
							.flex-item(style="height:65px")
							.flex-item(style="height:100px")
							.flex-item(style="height:77px")
							.flex-item(style="height:60px")
							.flex-item(style="height:70px")
							.flex-item(style="height:60px")
			.step(
				data-y='1650'
				data-x='-2200'
				)
				.display
					.display-flexbox
						.flex-container(style="align-items: flex-end;align-content: space-between; justify-content: center; flex-wrap: wrap")
							.flex-item(style="height:65px")
							.flex-item(style="height:100px")
							.flex-item(style="height:77px")
							.flex-item(style="height:60px")
							.flex-item(style="height:70px")
							.flex-item(style="height:60px")
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   align-items: flex-end;
							|   align-content: <b>space-between</b>;
							|   justify-content: center;
							| }
			.step(
				data-y='2000'
				data-x='-50'
				data-rotate="90"
				)
				+header("flex-basis", ["[absolute unit]", "auto"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   flex-direction: row;
							| }
							| 
							| .item-1{
							|   flex-basis: 30%;
							| }
							| 
							| .item-2{
							|   flex-basis: 70%;
							| }
					.display-flexbox
						.flex-container(style="flex-wrap: wrap")
							.flex-item(style="flex-basis: calc(30% - 56px)")
							.flex-item(style="flex-basis: calc(70% - 56px)")
			.step(
				data-y='2000'
				data-x='-600'
				data-rotate="90"
				)
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-wrap: wrap;
							|   flex-direction: column;
							| }
							| 
							| .item-1{
							|   flex-basis: 30%;
							| }
							| 
							| .item-2{
							|   flex-basis: 70%;
							| }
					.display-flexbox
						.flex-container(style="flex-wrap: wrap; flex-direction:column")
							.flex-item(style="flex-basis: calc(30% - 56px)")
							.flex-item(style="flex-basis: calc(70% - 56px)")
			.step(
				data-y='1850'
				data-x='-1300'
				data-rotate="180"
				)
				+header("flex-shrink", ["number"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row;
							|   width: 400px;
							| }
							| 
							| .item-1{
							|   flex-basis: 200px;
							| }
							| 
							| .item-2{
							|   flex-basis: 400px;
							|   flex-shrink: 1;
							| }
					.display-flexbox
						.flex-container
							.flex-item(style="flex-basis: calc(200px - 56px)")
							.flex-item(style="flex-basis: calc(400px - 56px); flex-shrink: 1")
			.step(
				data-y='2200'
				data-x='650'
				data-rotate="180"
				)
				+header("flex-grow", ["number"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: column;
							|   width: 400px;
							| }
							| 
							| .item-1{
							|   flex-basis: 120px;
							| }
							| 
							| .item-2{
							|   flex-grow: 1;
							| }
					.display-flexbox
						.flex-container(style="flex-direction: column")
							.flex-item(style="flex-basis: calc(120px - 56px)")
							.flex-item(style="flex-grow: 1;")
			.step(
				id="flex"
				data-y='-300'
				data-x='-300'
				data-rotate="35"
				data-scale="5"
				)
				+header("flex", ["[flex-grow]", "[flex-shrink]", "[flex-basis]"])
				.display
					.display-flexbox
						.flex-container
							.flex-item(style="flex: 1;")
							.flex-item(style="flex: 1 1 auto;")
							.flex-item(style="flex: 1;")
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row;
							|   width: 400px;
							| }
							| 
							| .item-1{
							|   flex: 1;
							| }
							| 
							| .item-2{
							|   flex: 1 1 auto;
							| }
							| 
							| .item-3{
							|   flex: 1;
							| }

			.step.boxed(
				id="align-self"
				data-y='-1400'
				data-x='2075'
				data-rotate="-90"
				data-scale="2"
				)
				+header("align-self", ["auto", "flex-start", "flex-end", "center", "baseline", "stretch"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row;
							|   align-items: center;
							| }
							| 
							| .item-2{
							|   align-self: flex-start;
							| }
					.display-flexbox
						.flex-container(style="justify-content: space-around;align-items: center")
							.flex-item
							.flex-item(style="align-self: flex-start")
							.flex-item

			.step.boxed(
				id="order"
				data-y='600'
				data-x='2075'
				data-rotate="-90"
				data-scale="2"
				)
				+header("order", ["number"])
				.display
					pre.display-syntax
						code
							| .container {
							|   display: flex;
							|   flex-direction: row;
							|   align-items: center;
							| }
							| 
							| .item-2{
							|   align-self: flex-start;
							| }
					.display-flexbox
						.flex-container(style="flex-wrap: wrap")
							.flex-item
							.flex-item(style="order: 1")
							.flex-item
							.flex-item
							.flex-item
							.flex-item(style="order:-1")
							.flex-item
							.flex-item

		script(src="js/impress.js")
		script(src="js/main.js")